@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

/* sheared class */
*{
    margin: 0;

}
.hidden{
    display: none;
}
.font{
    font-family: "Inter";
}

section{
    width: 100%;
    margin: 0 auto;
}
.container{
    width: calc(100% - 200px);
    margin: 0 auto;
}
.join-btn{
    padding: 16px 40px;
    font-size: 1rem;
    font-weight: 600;
    background-color: rgb(230, 83, 60);
    border-radius: 40px;
    outline: none;
    color: white;
    border: none;
    margin: 10px 5px;
    cursor: pointer;
}


/* fitness section start */
.fitness{
    
    background: linear-gradient(180.00deg,rgb(17,17,17),rgba(119,119,119,0)1000% );
}
nav{
    padding-top:45px ;
    display: flex;
    justify-content: space-between;
}
nav h1{
    color: rgb(230, 83, 60);
    font-weight: 800;
    font-size: 3rem;
}


nav .link-items{
    width: 460px;
    height: 46px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
}
.link-items li{
    list-style: none;
    margin-right: 30px;
}
.link-items li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 20px;
}
nav .link-icon{
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-top: 10px;
    margin-right: 20px;
}
#home{
    background-color: #e6533c;
}
.fitness-content{
    display: flex;
    gap: 200px;
}
.content-title{
    display: flex;
    flex-direction: column;
    margin: 0 auto;  
}
.fitness-content .content-title h1{
    font-size: 4.2rem;
    color: white;
    font-weight: 900;
    margin-bottom: 50px;
    line-height: 110%;
}
.shape{
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size:7.5rem;  
}
.fitness-content .content-title p{
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 50px;
}
.button-primariy{
    display: flex;
}
.download-btn{
    
    background: transparent;
    border: 2px solid white;
}
.image{
    background-image: url("./images/Images2.png");
    display: flex;
    margin: 0 auto;
    width: 350px;
    height: 580px;
}
.image .free-video{
    
    width: 150px;
    height: 80px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    border-radius: 20px;
    justify-content: center;
    position: relative;
    top: 180px;
    left: 220px;
}
.image .free-video h1{
    color: white;
    font-size: 2.2rem;
    font-weight: 900;
}
.image .free-video p{
    color: rgba(255, 255, 255, 0.5);
    font-size:1rem;
    font-weight: 400;
}
.image .video-tutorial h1{
    color: white;
    font-size: 2.2rem;
    font-weight: 900;
}


.image .video-tutorial p{
    color: rgba(255, 255, 255, 0.5);
    font-size:1rem;
    font-weight: 400;
}
.video-tutorial{
    display: flex;
    gap: 20px;
    width: 180px;
    height: 80px;
    padding-left: 10px;
    border-radius: 20px;
    justify-content: center;
    position: relative;
    top: 420px;
    right: 250px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
}
.video-tutorial .video-icon{
    margin-top: 20px;
    height: 40px;
    width: 40px;
    background-color: #e6533c;
    border-radius: 50%;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}
/* fitness section end */


/* unique seciton start */
.unique-section{
    background: black;
    padding-bottom: 20px;
}
.unique-section .title{
    text-align: center;
    color: #e6533c;
    font-size: 1.5rem;
    margin-bottom: 50px;
}
.unique-section span{
    color: blue;
    font-family: 'Miama';
    position: relative;
    right: 145px;
    top: 20px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 2.5rem;
}
.workout-cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;  
}
.workout-content{
    width: 300px;
    background: white;
    height: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    border: 2px solid salmon;
    transition: all 0.2s ease-in;
    background-size: cover;
    background-color: black;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    justify-content: end; 
}
.workout-content h1{
    color: white;
    font-size: 1.5rem;

}
.workout-content p{
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.8rem;
}
.unique-section .workout-content h1{
    margin-left: 19px;
}
.unique-section .workout-content p{
    margin-left: 19px;
}
.workout1{
    background-image: url("./images/workout1.jpg");
}
.workout2{
    background-image: url("./images/workout2.jpg");
}
.workout3{
    background-image: url("./images/workout3.jpg");
}
.workout-content:hover{
    transform: translateY(-25px);
    box-shadow: 3px 3px 4px 0px  #e6533c;
}
/* unique seciton end */





/* Habits section start */
.habits{
    background-color: black;
    padding-bottom: 10px;
}

.habits-content-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.habits-content-title h1{
    color: white;
    font-size: 2.5rem;
    font-weight: 900;
    margin: 30px 0px;
}
.habits-content-title P{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.80rem;
    font-weight: 400;
}
.card-items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.habits-card{
    width: 220px;
    height: 235px;
    text-align: center;
}
.habits-card img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
}
.habits-card h1{
    color: white;
    font-size: 1rem;
    font-weight: 600;
}
.habits-card p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;  
}
.run-extra{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    background: rgb(34, 34, 34);
    border-radius: 20px;
    margin-bottom: 50px;
}
.run-content-title{
    margin: 20px 20px;
    flex-direction: column;
    width: 50%;  
}
.run-content-title h1{
    color: white;
    font-size: 3.8rem;
    font-weight: 900;
    margin-bottom: 40px;
}
.run-content-title p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 40px;
}
.run-content-image{
    margin: 35px 0px;
    height: 300px;
    
}
.run-content-image img{
    width:calc(100% - 20px);
    height: 100%;
    display: flex;
    margin: 0 auto;
    border-radius: 18px; 
    object-fit: none;
    object-position: 60% 30%;
}
/* Habits section end */



/* Traning and exercise section start */
.traning{
    background: rgb(0, 0, 0);
    padding-bottom: 50px;
}

.traning .content-title {
    margin-left: 0px;
    margin-bottom: 20px;
    text-align: left;
    width: calc(100% - 400px);
}
.traning .content-title h1{
    font-size: 3rem;
    color: white;
}
.traning .content-title p{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6);
}
.traning .img1{
    background-image: url("./images/exercise1.jpg");
    background-color: rgba(6, 255, 210, 0.5);
    background-blend-mode: overlay;
}
.traning .img1 h1{
    position: relative;
    top: 169px; 
    left: 22px; 
    font-size: 1rem;
    color: white;
}
.traning .img2{
    background-image: url("./images/exercise2.png"); 
    background-color: rgba(255, 0, 0, 0.3);
    background-blend-mode: overlay;
}
.traning .img2 h1{
    position: relative;
    top: 29px; 
    left: 29px; 
    font-size: 1rem;
    color: white;
}
.traning .img3{
    background-image: url("./images/exercise3.png");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}
.traning .img3 h1{
    position: relative;
    top: 169px; 
    left: 22px; 
    font-size: 1rem;
    color: white;
}
.traning .img4{
    background-image: url("./images/exercise4.png");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}
.traning .img4 h1{
    position: relative;
    top: 35px; 
    left: 200px; 
    font-size: 1rem;
    color: white;
}
.traning .img5{
    background-image: url("./images/exercise5.jpg");
    background-color: rgba(66, 255, 0, 0.3);
    background-blend-mode: overlay;
}
.traning .img5 h1{
    position: relative;
    top: 169px; 
    left: 22px; 
    font-size: 1rem;
    color: white;
}
.traning .img6{
    background-image: url("./images/exercise6.jpg");
    background-color: rgba(0, 71, 255, 0.3);
    background-blend-mode: overlay;
}
.traning .img6 h1{
    position: relative;
    top: 169px; 
    left: 22px; 
    font-size: 1rem;
    color: white;
}
.traning .traning-content-img .row1 .img{
    width:100%;
    height: 215px;
    background-size: cover;
    background-position: center;
}
.traning .traning-content-img .row2 .img{
    width:100%;
    height: 215px;
    background-size: cover;
    background-position: center;
}
.traning .traning-content-img .row1{
    display: grid;
    grid-template-columns: 1.2fr 2.2fr 1.6fr;
}
.row2{
    display: grid;
    grid-template-columns: 1.6fr 1.2fr 1.4fr
}
/*      Traning and exercise section END */



/*      BMI  section start */
.bmi-section{
    background-color: black;
}
.bmi-heading{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 60%;
    margin: 0px auto;
    margin-bottom: 50px;
}
.bmi-heading h1{
    color: white;
    font-size: 3rem;
}
.bmi-heading p{
 color: rgba(255, 255, 255, 0.6);
 font-size: 1rem;
}
.bmi-container{
    background: rgb(34, 34, 34);
}
.bmi-content{
    display: flex;
    gap: 60px;
    justify-items: center;
    align-items: center;
    padding: 50px 0px;  
 }
.calculator-chart{
    
    margin-left: 30px;
    margin-bottom: 30px;
    line-height: 2rem;
}
.calculator-chart h1{
    color: white;
    font-size: 1.9rem;
}
table td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;   
 }
 table{
    border-collapse: collapse;
    margin-top: 20px;
    width: 320px;
    height: 250px;
 }
thead td{
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}
.calculate-bmi{
    max-width: 550px;
    width: calc(100% - 20px);
    margin: 0 auto;
 }
 .calculate-bmi-title h1{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 700;
 }
 .calculate-bmi-title p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 20px;
 }
 .calculate-bmi input{
    height: 2.5rem;
    color: rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    outline: none;
    border: none;
    font-size: 1.1rem;
    width: 100%;
 }
 .calculate-bmi select{
    color: rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    height: 2.6rem;
    font-size: 1.1rem;
    width: 100%;
    border: none;
    outline: none;
 }
 .calculate-bmi select option{
    background-color: rgba(0, 0, 0, 0.8);
 }
 .input5{
    width: calc(100% - 20px);
    margin-top: 10px;
 }
.calculate-bmi-input .input-items{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 10px;
   width: calc(100% - 20px);
}

/*      BMI  section end */



/*      team section start */
.team-section{
    background: black;
    padding-bottom: 100px;
    
}
.team-content-title{
    text-align: center;
    padding-top: 80px;
}
.team-content-title h1{
    font-size: 2rem;
    font-weight: 900;
    color: white;
    
}

.team-content-title p{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
    padding: 20px 0px;
}
.team-content-image{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border-radius: 20px;
    background: rgb(34, 34, 34);
}

.team-section .image{
    width: calc(100% - 25px);
    height: 250px;
    margin: 10px;
    border: 2px solid rgb(0, 0, 0);
    background-size: cover;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
    
}

.team-section .image h1{
    margin-left: 30px;

}
.team-section .image p{
    margin-left: 30px;

}
.team-section .image h1{
    color: white;
    font-weight: 900;
}
.team-section .image p{
    color: rgba(255, 255, 255, 0.5);
}
.image1{
    background-image: url(./images/trainer1.png);
    width: calc(100% - 40px);
    
    
    
}
.image2{
    background-image: url(./images/trainer2.png);
}
.image3{
    background-image: url(./images/trainer3.png);
}
.image4{
    background-image: url(./images/trainer4.png);
}
.image5{
    background-image: url(./images/trainer5.png);
}
.image6{
    background-image: url(./images/trainer6.png);
}

/*      team section end */



/*      footer section start */
.footer-section{
    background: rgba(0, 0, 0, 0.9);
}
.footer-content{
    display: flex;
    gap: 50px;
    padding: 50px 0px;
}
.footer-content-title{
    width: 45%;
}
.footer-content-title h1{
    font-size: 2.9rem;
    color: rgb(230, 83, 60);
}
.footer-content-title p{
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.5);
}
.about-us{
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
}
.service h3{
    font-size: 2rem;
    color: white;
    font-weight: 600;
}
.service p{
    font-size: 1.5rem;
    color: #ffffff80;
    font-weight: 400;
    margin: 10px 0px;
}
hr{
    color: rgba(255, 255, 255, 0.3);
}
.reserved{
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 20px 0 20px 0px;
}
/*      footer section end */



/*      Responsive for mobile */

 /*     for small device */
 @media screen and (max-width:576px) {
    .container{
        width: calc(100% - 20px);
    }


    /*       fitnes section */
    nav .link-items{
        display: none;
    }
    nav h1{
        margin-left: 18px;
    }
    .fitness-content .content-title h1{
        font-size: 3rem;
        margin-top: 25px;
    }
    .content-title{
        width: calc(100% - 25px);
    
    }
    .fitness-content{
        flex-direction: column;
        gap: 30px;
    }
    .image .free-video{
        top: 70px;
        left: 185px;
    }
    .video-tutorial{
        top: 250px;
        right: 166px;
    }
    .join-btn{
        padding: 16px 25px;
        font-size: 1rem;
    }
    .download-btn{
        padding: 16px 25px;
        font-size: 1rem;
    }
    .video-tutorial{
        width: 165px;
        height: 75px;
        
    }
    .free-video{
        width: 165px;
        height: 75px;
    }

    /*      unique-section strat */
    .workout-cards{
        flex-direction: column;
        align-items: center;
    }
    .workout-content{
        margin-top: 20px;
    }
    .workout-content:hover{
        transform: none;
    }
    

    /*      habits section */
    .card-items{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        
    }
    .run-extra{
        flex-direction: column;
        gap: 0px;
    }
    .run-content-title{
        width: calc(100% - 40px);
        margin-left: 20px;
    }
    .run-content-title h1{
        font-size: 3rem;
    }
    .run-content-image{
        margin: 0 auto;
        padding-bottom: 20px;
    }
    #join-btn{
        width: calc(100% - 20px);
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        
        margin: 0 auto;
    }

    /*      traning seciton start */
    .traning .content-title{
        width: calc(100% - 40px);
    }
    
    .traning .img3,.img6{
    display: none;
    }
    .traning .traning-content-img .row1{
        grid-template-columns: 1.2fr 1fr;
        background-size: cover;
       
    }
    .traning .traning-content-img .row2{
        grid-template-columns: 1fr 1.2fr;
        background-size: cover;
       
    }
    .traning .img2{
        object-fit: none;
        object-position: 65% 28%;
    }
    .traning .img2 h1{
        left: 5px;
    }
    .traning .img4 h1{
        left: 20px;
    }
    .traning .img5 h1{
        left: 5px;
    }
    
  
    


    /*       BMI section start*/
    .bmi-heading{
        width: calc(100% - 20px);
    }
    .bmi-content{
        flex-direction: column;
        gap: 40px;
    }
    .calculate-bmi-title{
        width: calc(100% - 20px);
        margin: 0 auto;
    }
    .calculator-chart{
        margin-left: 0px;
    }
    
     /*     BMI section end*/
    

    /*      team section start*/
    .team-content-image{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }
    /*      team section end*/


    /*          footer section start */
    .footer-content,.about-us{
        flex-direction: column;
    }
    .footer-content-title{
        width: calc(100% - 10px);
    }
    /*          footer section end */
}
 
/*              for mediam device */
@media screen and (min-width:576px){
    nav .link-icon{
        display: none;
    }
}


@media screen and (min-width:576px) and (max-width:992px){
    .container{
        width: calc(100% - 40px);
        
    }
    /*          fitness section */
    nav{
        justify-content: space-between;
    }
    nav h1{
        font-size: 3rem;
    }
    nav .link-items{
        width: 360px;
        font-size: 16px;
    }
    .link-items li{
        margin-right: 30px;
    }
    .link-items li a{
        padding: 10px 0px;
        
    }
    .link-items #home{
        padding: 10px 20px;
    }
    .fitness-content{
        flex-direction: column;
        gap: 50px;
    }
    
    .workout-content{
        margin: 10px;
    }
    .workout-content:hover{
        transform: none;
    }
    /*          habit section */
    .card-items{
        grid-template-columns: repeat(2,1fr);
    }
    .run-content-title h1{
        font-size: 3rem;
    }
    .run-content-title p{
            font-size: 1rem;
    }
    /* traning section  */
    .traning .content-title{
        width: 100%;
    }
    .traning .img3 h1 {
        left: 5px;
    }
    .traning .img6 h1 {
        left: 5px;
    }
    /* BMI section */
    .bmi-content{
        flex-direction: column;
    }
    .team-content-image{
        background-size: cover;
    }
    /* team section */
    .team-section .image{
        background-size: cover;
        background-position: center;
    }
    /* footer seciton */
    .footer-content{
        flex-direction: column;
    }
    .footer-content .about-us{
        justify-content: start;
    }
}